*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.p-nav{
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navs{
  padding:15px 8px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.h1-nav{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logout{
  font-weight: bold;
  display: flex;
  color: black;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
  margin-top: 50px;
  padding: 7px;
  min-height: 100vh;
}
.card-result{
  margin-top: 30px;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
}

/*  start card */
.card{
  width: 100%;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
img{
  width: 100%;
object-fit: cover;
  height: 200px;
  display: flex;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.h1-card{
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 0;
  text-decoration: underline;
}
.p-card{
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 0;
  line-height: 23px;
}
/* end card */


.button-actions{
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
  gap: 10px;
  padding: 7px;
  margin-bottom: 80px;
  align-items: center;
}
.next{
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.prev{
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.of{
  font-size: 18px;
}

.numberPage, 
.numberOfPage{
  font-size: 17px;
}


.hidden{
  display: none;
}

footer{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;

}
.h1-footer{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.count{
  margin-top: 30px;
  padding: 10px;
}

.loading{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


@media (min-width: 600px) {
  .card{
    width: 300px;
  }

  .button-actions{
    justify-content: center;
  }
  .next{
    width: 200px;
  }
  .prev{
    width: 200px;
  } 
}